@charset "UTF-8";



#errors { color:red;}
.errors {color:red;}


#titre_accueil {
	display:flex;
	justify-content:center;
	
}

a+a {
	margin-left:15px;
}

small {
	color:blue;
	
	
}

.btn-valid-form {
	
	padding-left:450px;
}

.fa {

	font-size:24px;
}

#statusbarre {
	position:fixed;
	bottom:0px;
	height:50px;
	width:100%;
	border-top:thick double;
	border-color:grey;
}


.status_message_ok {
		
		width:100%;
		height:100%;
		border:solid;
		border-radius:10px;
		background-color:rgb(88,235,52);
		color :black;
		
		}
		
.status_message_nok {
	
		
		width:100%;
		height:100%;
		border:solid;
		border-radius:10px;
		background-color:yellow;
		color :black;
		
		}
 
		

		
#navbarre {
		width:100%;
		display:flex ;
		flex-direction:row;
		justify-content:space-between;
		background-color:#ccc;
		padding-left:20px;
		padding-right:20px
		
		
}

.fa-trash {
	color:red;
}



li:nth-child(even) {background: #CCC}
li:nth-child(odd) {background: #FFF}




		